.top-panel
	.container
		.inline-layout.col-2
			.logo-holder
				.logo-block
					span Mag Site
			ul.top-navigation
				li
					a(href="/index.html") Home
				li
					a(href="/galery.html") Ship
				li
					a(href="/blog.html") Blog
				li
					a(href="/video.html") Contacts



